@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    // border: 1px dashed red;
}
body{
    background: #3C3C3C
}
h1{
    text-align: center;
    color: white
}
.col-6{
    background: royalblue;
}
.list-group-item{
    list-style-type:none;
    background: #F8F9FA;
}
.counter {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    color: gray;
}